<h1> <%= @task.title %>  </h1>
<p> Description: <%= @task.details %> </p>
<p> Status: <%= @task.completed ? "completed" : "pending"%> </p>
<%= link_to "Edit the task", edit_task_path %> <br>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %> <br>
<%= link_to "Go back to all the tasks", tasks_path %>
